
.custom-primary-color-1 {
  color: #3121E3;
}

.app-container {
  position: relative; 
  min-height: 100vh; 
}

.vertical-line {
  position: fixed;
  top: 0;
  left: 50%; 
  height: 100vh;
  border-left: 2px dashed #000; 
  z-index: 1; 
}

.left-line {
  left: 20px; 
}

.right-line {
  right: 20px;
  left: auto; 
}

.horizontal-line {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 2px dashed #000; 
  z-index: 1;
}

/* from top lines */
.top-line {
  top: 20px; 
}
.top-line-double {
  top: 110px; 
}
.section-separator-line-1 {
  top: 750px; 
}
.section-separator-line-2 {
  top: 2700px; 
}

/* from bottom lines */
.bottom-line {
  bottom: 20px; 
}
.bottom-line-double {
  bottom: 75px;
}
.section-separator-line-3 {
  bottom: 680px; 
}
.section-separator-line-4 {
  bottom: 850px; 
}
.section-separator-line-5 {
  bottom: 1200px; 
}

.lettermark-class {
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 1199px) {
  .section-separator-line-2 {
    top: 3035px; 
  }
  .section-separator-line-5 {
    bottom: 1220px; 
  }
}

@media (max-width: 948px) {
  .section-separator-line-1 {
    top: 830px; 
  }
  .section-separator-line-2 {
    top: 5000px; 
  }
  .section-separator-line-5 {
    bottom: 1395px; 
  }
}

@media (max-width: 761px) {
  .section-separator-line-1 {
    top: 1050px; 
  }
  .section-separator-line-2 {
    top: 5320px; 
  }
  .section-separator-line-5 {
    bottom: 1395px; 
  }
}

@media (max-width: 575px) {
  .section-separator-line-2 {
    top: 5220px; 
  }
  .section-separator-line-5 {
    bottom: 1380px; 
  }
}

@media (max-width: 567px) {
  .section-separator-line-2 {
    top: 5265px; 
  }
  .section-separator-line-5 {
    bottom: 1380px; 
  }
}

@media (max-width: 558px) {
  .section-separator-line-2 {
    top: 5285px; 
  }
}

@media (max-width: 556px) {
  .horizontal-line,
  .vertical-line {
    display: none;
  }
}
